//提供全局变量

//左侧菜单宽度
$base-menu-width: 260px;
//左侧菜单背景颜色
$base-menu-background: #4eaed1;
//顶部导航栏高度
$base-tabbar-height: 50px;
//左侧菜单logo高度
$base-menu-logo-height: 70px;
//logo右侧文字大小
$base-menu-logo-title-fontSize: 20px;
//折叠后的菜单栏宽度
$base-menu-fold-width: 60px;